    /* INICIO IMG - IMAGEN DE PÁGINA PRINCIPAL (CONTIENE HEADER Y NAV)*/

    .inicio-img{
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    height: 41rem;
    background-color: #000000;
    background-image: url(img/Inicio6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: top;
    }

    .inicio-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7); /* negro con de opacidad */
        z-index: 1;
    }

    .inicio-img-buttons{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }



    /*AVISOS - HEADERNAV */

    .avisos-headernav{
        width: 100%;
        z-index: 10;
    }


    /* PANEL DE AVISOS Y ACTUALIZACIONES */

    .avisos{
        background-color: #043131;
        width: 100%;
        padding: 0 4rem;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #f1f1f1;
        font-size: 0.9rem;
    }

    .social-media-2{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .avisos a{
        color: #f1f1f1;
    }

    /* AVISOS DISTINTO EN CELULAR */

    .avisos-mobile{
        background-color: #043131;
        width: 100%;
        padding: 0 4rem;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #f1f1f1;
        font-size: 0.9rem;
        display: none;
    }

    .avisos-mobile a{
        color: #f1f1f1;
    }

    /* ADVERTENCIA */

    .advertencia{
        max-width: 50%;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        color: rgb(6, 36, 26); 
        background: #ffe600; 
        z-index: 10;
    }

    .advertencia i{
        color: #ffee00;
        background-color: rgb(3, 30, 61);
        padding: 0.2rem;
        border-radius: 50%;
    }


    /* HEADER NAV */

    .header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background: transparent;
    z-index: 10;
    position: relative;
    background-color: #cfdbdb;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.08);
    }

    .header-nav-2{
        z-index: 2;
    }

    /* ETIQUETA HEADER */


    header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
        position: relative;
    }

    header h3{
        font-size: 1rem;
        margin-left: 1rem;
        background: linear-gradient(to right, rgb(55, 168, 172), rgb(23, 134, 138), rgb(119, 196, 170), rgb(66, 189, 172), rgb(55, 168, 172));
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-gradient 2.5s linear infinite;
    }

    header p{
        padding: 0 3rem;
        margin: auto 0;
    }


        @keyframes animate-gradient{
        to {
            background-position: 200%;
        }
    }

    /* LOGO Y TITULO */

    .header-ico-tit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* LOGO */

    .header-logo {
        max-width: 100%;
        height: 2.5rem;
    }





    /* NAV */




    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    nav ul li {
        list-style: none;
        margin: 0.5rem;
        padding-left: 0.1rem;
    }

    nav a{
        color:#09423f;
        text-decoration: none;
        font-size: 0.8rem;
    }

    nav a:hover{
        position: relative;
        border-radius: 10px;
        color:#09423f;
    }

    /* NAV LINKS */

    .nav-links a {
        position: relative;
        text-decoration: none;
    }

    .nav-links a::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(135deg, #45b196, rgb(9, 239, 255));
        transition: width 0.3s ease;
        z-index: -1;
    }

    .nav-links a:hover::after {
        width: 100%;
    }

    .social-media-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3rem;
    }

    .social-media{
        font-size: 2rem;
        color: white;
    }

    .social-media-box a:nth-child(1):hover {
    color: #9a26a5;
    }

    .social-media-box a:nth-child(2):hover {
        color: #1DA1F2;
    }

    .social-media-box a:nth-child(3):hover {
        color: #FF0000;
    }

    .social-media-box a:nth-child(4):hover {
        color: #77f258;
    }

    .nav-a-special{
    display: block;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 48, 48);
    padding: 0.2rem 2rem;
    border: 1px solid rgb(131, 190, 190);
    border-radius: 10px;
    }
    .nav-a-special:hover{
        color: rgb(250, 250, 250);
        background-color: rgb(27, 121, 121);
    }

    .nav-a-special-2{
        display: block;
        width: fit-content;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color:#09423f;
        padding: 0.2rem 1rem;
        border: 1px solid #c00;
        border-radius: 10px;
    }

    .nav-a-special-2:hover{
        color: rgb(250, 250, 250);
        background-color: #c00;
    }

    /* USERDATA */

    .user-data{
        min-height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        position: relative;
    }

    .user-data i{
        color: #e2e2e2;
        background: #1f1f1f;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .user-data i:hover{
        background-color: gray;
        cursor: pointer;
    }

    #username{
        color:#09423f;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 3rem;
        max-width: 5rem;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none;
    }

    .user-data:hover #username{
        display: block;
    }

    /* CRUZ DEL NAV*/

    #cruz{
        color: rgb(247, 247, 247);
        font-size: 2rem;
    }


    /* ETIQUETAS <a> CON ESTILO ESPECIAL */

    .a-special{
    display: block;
    width: fit-content;
    margin: 2rem auto 5rem auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 48, 48);
    padding: 1rem 2rem;
    background-color: rgb(131, 190, 190);
    border-radius: 40px;
    position: relative;
    }

    .a-special:hover{
        background: #000000;
        color: rgb(0, 179, 185);
    }

    .a-special-2{
        display: block;
        width: fit-content;
        margin: 1rem 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
        padding: 1rem 2rem;
        background-color: rgb(131, 190, 190);
        border-radius: 10px;
    }

    .a-special-2:hover{
        background: #000000;
        color: rgb(0, 179, 185);
    }

    .a-special-3{
        display: block;
        width: fit-content;
        margin: 1rem 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: rgb(96, 145, 145);
        padding: 1rem 2rem;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
    }

    .a-special-3:hover{
        background: #000000;
        color: rgb(0, 179, 185);
    }

    .a-special-4{
        display: block;
        width: fit-content;
        margin: 5rem 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: rgb(62, 219, 219);
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        width: 30rem;
    }

    .a-special-4:hover{
        background-color: rgb(62, 219, 219);
        color: rgb(37, 37, 37);
    }

    .nav-a-special-mobile{
    display:none;
    }

    .nav-a-special-inicio{
        display:none;
    }

    /* FRASE AL INICIO */

    .frase{
        color: white;
        font-size: 3rem;
    }


    /* MENU HAMBURGUESA INVISIBLE EN PC*/



    .hamburger{
        display: none;
    }



    /* IMAGEN CON INFO */

    .inicio-info-img{
        width: calc(100% + 2rem);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -2rem;
    }

    .inicio-info{
        text-align: justify;
        width: 60%;
        padding: 0 5rem;
    }

    .inicio-info-img-img{
        background-color: #000000;
        width: 48rem;
        height: 42rem;
        background-size: cover;
    }

    .inicio-info-img-img-2{
        background-color: #000000;
        width: 48rem;
        height: 42rem;
        background-size: cover;
        background-image: url(img/Ambicion.png);
        background-position: bottom;
    }


    .web-position{
        color: #8f8f8f;
        font-style: italic;
    }


    /* ADAPTADO PARA CELULAR */

    @media (max-width: 600px) {

        /* IMAGEN DEL INICIO */

        .inicio-img {
        width: 100%;
        margin: 0;
        min-height: 50rem;
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        align-items: center;
        justify-content: space-between;
        position: relative;
        }

        .frase{
            font-size: 2rem;
        }

        .inicio-img-buttons{
            flex-direction: column;
        }

        .a-special-4{
        width: 80%;
        margin: 1rem auto;
        }

        .inicio-info-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        }

        .inicio-info{
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 1rem;
        }

        .inicio-info-img-img {
            width: 100%;
            height: 20rem;
            background-size: cover;
            background-position: top;
            border-top: 2px solid #ccc;
        }

        .inicio-info-img-img-2 {
            width: 100%;
            height: 20rem;
            background-size: cover;
            background-position: center;
            border-top: 2px solid #ccc;
        }

        /* AVISOS */ 

        .avisos{
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 0.5rem 0.5rem;
            display: none;
        }

        .avisos-mobile{
            flex-direction: column;
            height: auto;
            padding: 0.5rem 0.5rem;
            display: block;
        }

        .social-media-2{
            text-align: center;
            justify-content: center;
        }

        #container .avisos p{
            margin: 0;
        }

        /* HEADER */

        header {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        width: 100%;
        }


        header h3 {
            font-size: 2rem;
            margin: 1rem auto;
        }

        header i{
            font-size: 1.5rem;
        }

        header p{
            text-align: center;
            text-wrap: wrap;
            margin: 0 auto;
        }

        .header-ico-tit{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        .header-ico-tit h3{
            display: none;
        }

        .header-nav{
            margin: 0;
            padding: 1rem 1rem;
        }

        .header-nav-2{
            position: relative;
            margin-bottom: 7rem;
        }

        nav a{
        color: rgb(252, 252, 252);
        }

        .nav-links {
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1rem 0;
        }

        .nav-links.active{
            display: flex;
            width: 100%;
            border-bottom: 1px solid #ccc;
            position: fixed;
            background-color: rgb(0, 0, 0);
            left: 0;
            top: 0;
            align-items: center;
        }

        .nav-a-special, .nav-a-special-2{
            color: rgb(240, 240, 240);
        }

        .nav-a-special-mobile{
            display: block;
            width: fit-content;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            font-weight: bold;
            color: rgb(0, 255, 242);
            padding: 0.2rem 2rem;

            border-radius: 10px;
        }
        .nav-a-special-mobile:hover{
            color: rgb(250, 250, 250);
        }

        .nav-a-special-inicio{
        display: block;
        width: fit-content;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: rgb(0, 255, 242);
        padding: 0.5rem 2rem;
        border-radius: 10px;
        margin: 0 auto 1rem auto;
        }

        .nav-a-special-inicio:hover{
            color: rgb(250, 250, 250);
        }

        /* USERDATA */

        .user-data{
            color: rgb(240, 240,240);
            display: none;
            i{
                border-right: 1px solid rgb(240, 240,240);
            }
        }

        #username{
            color:rgb(240, 240,240);
            display: flex;
        }

        /* MENU HAMBURGUESA */

        .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 1.7rem;
        height: 1rem;
        }

        /* LINEA HORIZONTAL*/

        .h-line{
            width: 1.5rem;
            height: 2px;
            background: #0d5e5a;
        }

    }