    * {
        margin: 0px;
        padding: 0px;
        transition: 0.5s;
        box-sizing: border-box;
    }

    #content{
        max-width: 1200px;
        margin: 0 auto;
    }

    body {
        width: 100%;
        background-color: rgb(28, 46, 48);
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        transition: 0.5s;
    }


    header{
        background-color: rgb(42, 70, 73);
        padding: 3rem 0 3rem 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }

    header h2{
        color: white;
        font-style: italic;
        padding: 0.5rem 0.5rem 0 3rem;
        font-size: 4rem;
    }

    header h4{
        color: white;
        font-style: italic;
        padding: 0 0.5rem 0.5rem 3rem;
        font-size: 1.5rem;
    }


    nav {
        background: rgb(51, 76, 83);
        width: 100%;
        max-width: 100%;
        min-height: 3rem;
        line-height: 2rem;
        border-bottom: 2px solid rgb(255, 255, 255);
        flex-direction: column;
        color: white;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }   

    @media (min-width: 600px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        margin: 0.5rem;
        padding-left: 1rem;
    }

    nav a{
        color: white;
        text-decoration: none;
    }

    nav a:hover{
        color:rgb(0, 255, 255)
    }

#container{
    background: rgb(71, 101, 109);
    padding: 2rem;
    text-align: center;
}

#container-2{
    background: rgb(71, 101, 109);
    padding: 2rem;
    text-align: justify;
}


#container-3{
    background: rgb(71, 101, 109);
    padding: 2rem;
    text-align: justify;
}



.info{
    text-align: justify;
}


a {
    color: rgb(128, 255, 213);
    text-decoration: underline;
}

a:hover {
    color: white;
}


#container span{
    color: rgb(128, 255, 213);
    text-decoration: underline;
}

#container img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}

#container img:hover{
    border-color: aquamarine;
}

#container ul{
    margin: 1rem 0 1rem 0;
    list-style: none;
}

#container ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid white;
    max-width: 15rem;
    max-height: 15rem;
    margin: 2rem;
}

#container p{
    margin: 0.5rem 0 0.5rem 0;
}


.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(42, 70, 73);
    border-radius: 10px;
}

.service{
    margin: 1rem 1rem 1rem 1rem;
    max-width: 15rem;
    max-height: 15rem;
    border: 2px solid rgb(160, 190, 209);
    border-radius: 4px;
    background: rgb(71, 101, 109);
}

.service:hover{
    background-color: rgb(169, 212, 212);
    color: black;
}



#container-2 span{
    color: rgb(128, 255, 213);
    text-decoration: underline;
}

#container-2 img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}

#container-2 img:hover{
    border-color: aquamarine;
}

#container-2 li{
    margin: 1rem 0 1rem 0;
    list-style: none;

    background-color: aquamarine;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}

#container-2 li:hover{
    background-color: white;
    color: black;
}


#container-2 p{
    margin: 0.5rem 0 0.5rem 0;
}







#container-3 span{
    color: rgb(128, 255, 213);
    text-decoration: underline;
}

#container-3 img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}

#container-3 img:hover{
    border-color: aquamarine;
}

.servicesvig{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.servicevig{
    width: 100%;
    max-width: 30rem;
    margin: 1rem auto;
    background-color: aquamarine;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#busqueda{
    display: block;
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    max-height: 5rem;
    margin: 1rem auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background: rgb(51, 72, 78);
    text-align: center;
    color: white;
    font-size: large;
}

.search-bar{
    width: 100%;
    max-width: 25rem;
    margin: 2rem auto;
    padding: 0 1rem;
    border: 2px solid white;
    border-radius: 10px;
    background: rgb(31, 43, 46);
}

.search-bar p{
    text-align: center;
    margin: 0;
}



select {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Georgia, serif;
    background-color: #f8f8f8;
}




.formulario-servicio {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #2f4f4f;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.oculto {
    display: none;
}

.formulario-servicio input,
.formulario-servicio textarea {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
}

.formulario-servicio button {
    background-color: aquamarine;
    padding: 0.7rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}



.available {
    color: rgb(0, 122, 0);
}
.unavailable {
    color: rgb(255, 0, 0);
}

#container-3 button{
    display: block;
    width: 100%;
    max-width: 7rem;
    background-color: rgb(91, 138, 160);
    border-radius: 10px;
    margin: 1rem auto;
    height: 100%;
    padding: 0.5rem 0;
    max-height: 5rem;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container-3 button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#container-3 a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 2rem;
    margin: 0 0.8rem 0 0.8rem;
}

#container-3 a:hover {
    color: white;
}


#container-3 p{
    margin: 0.5rem 0 0.5rem 0;
}







.title{
    font-size: 1.2rem;
    padding: 0 0 0.5rem 0;
    font-style: italic;
}

.title-2{
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
    font-style: italic;
}

.image-section{
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.image-section-2{
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(31, 51, 53);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
}

footer{
    background-color: rgb(42, 70, 73);
    padding: 2rem;
    text-align: center;
    line-height: 2rem;
}

@media (max-width: 600px) {
    header h2 {
        font-size: 2rem;
        text-align: center;
        padding-left: 0;
    }

    header h4 {
        font-size: 1rem;
        text-align: center;
        padding-left: 0;
    }
}
