    * {
        margin: 0px;
        padding: 0px;
        transition: 0.5s;
        box-sizing: border-box;
    }

    #content{
        /* max-width: 80rem; */
        margin: 0 auto;
    }

    body {
        width: 100%;
        background: rgb(183, 192, 191);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(26, 26, 26);
        transition: 0.5s;
    }


    header{
        background: #f1f1f1;
        padding: 1rem 0;
        display: flex;
        color: rgb(26, 26, 26);
        position: relative;
        border-bottom: 2px solid #ccc;
        justify-content: space-between;
    }

    header h3{
        font-size: 2rem;
        margin-left: 1rem;
    }

    header p{
        padding: 0 3rem;
        margin: auto 0;
    }


    nav {
        background: #effffd;
        width: 100%;
        max-width: 100%;
        min-height: 2rem;
        line-height: 1rem;
        border-bottom: 2px solid #ccc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        padding: 0.5rem 0;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        margin: 0.5rem;
        padding-left: 1rem;
    }

    nav a{
        color:#052627;
        text-decoration: none;
    }

    nav a:hover{
        color:rgb(0, 179, 179)
    }

.caracteristicas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    color:#686868;
    i{
        background-color: #ecfffe;
        color: rgb(131, 190, 190);
    }
}

.text-info{
    background: rgb(168, 189, 194);
    padding: 1rem;
    a{
        color:#126d70;
    }
}
.text-info-2{
    background: rgb(187, 206, 211);
    padding: 1rem;  
    a{
        color:#126d70;
    }
}

#container{
    background: linear-gradient(135deg, #ecfffe, #cbebe9);
    padding: 2rem;
    text-align: center;
}

#container-2{
    background: linear-gradient(135deg, #ecfffe, #cbebe9);
    padding: 2rem;
    text-align: justify;
}


#container-3{
    background: linear-gradient(135deg, #ecfffe, #cbebe9);;
    padding: 2rem;
    text-align: justify;
}



.info{
    text-align: justify;
}


a {
    color: rgb(0, 179, 185);
    text-decoration: underline;
}

a:hover {
    color: rgb(79, 106, 158);
}


#container span{
    color: rgb(27, 83, 156);
}

#container ul{
    margin: 1rem 0 1rem 0;
    list-style: none;
}

#container ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid white;
    max-width: 15rem;
    max-height: 15rem;
    margin: 2rem;
}

#container p{
    margin: 0.5rem 0 0.5rem 0;
}

.fondo-blanco{
    background: #f1f1f1;
    height: 10rem;
    color: rgb(26, 26, 26);
    text-align: center;
    margin: 0 -2rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-con-texto {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.fondo-imagen-con-texto {
    background: #000000;
    margin: 0 -2rem;
}


.imagen-con-texto img {
    width: 100%;
    transform: scale(1.01);
}

.imagen-con-texto:hover img{
    transform: scale(1.05);
}

.texto-superpuesto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-superpuesto:hover{
    color:aqua;
}




.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #bed4d3, #a2dbd7);
    
    margin: 2rem -2rem 0 -2rem;
    padding: 3rem 0;
}

.service{
    margin: 1rem;
    max-width: 15rem;
    max-height: 15rem;
    border: 2px solid rgb(155, 219, 221);
    border-radius: 4px;
    background: rgb(131, 190, 190);
    text-align: center;
}

.service:hover{
    background-color: rgb(18, 107, 107);
    color: rgb(226, 226, 226);
    transform: scale(1.05);
}

.services-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ecfffe, #cbebe9);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    color: #effffd;
}

.service-2{
    margin: 1rem;
    padding: 1rem;
    max-width: 15rem;
    height: 20rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 2px 1px 5px rgb(226, 226, 226);
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #10576d;
}

.service-2 i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.service-2-icon-title{
    
}

.service-2:hover{
    background-color: rgb(169, 212, 212);
    color: black;
}

.team-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a2ccc8, #cbebe9);
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    color: #effffd;
}

.team-member{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 20rem;
    max-width: 20rem;
    height: 25rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 2px 1px 5px rgb(226, 226, 226);
    background: rgb(235, 235, 235);
    text-align: center;
    color: #10576d;
    position: relative;
    i{
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.team-member-img{
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: url(img/ManUser.png);
    background-size: cover;
    background-position: center;
}

.team-member:hover{
    background-color: rgb(169, 212, 212);
    color: black;
    transform: scale(1.05);
}

#container-2 span{
    color: rgb(27, 83, 156);
}

#container-2 img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}

#container-2 img:hover{
    border-color: aquamarine;
}

#container-2 li{
    margin: 1rem 0 1rem 0;
    list-style: none;

    background: rgb(131, 190, 190);
    color: rgb(34, 34, 34);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}

#container-2 li:hover{
    background-color: rgb(183, 218, 226);
    color: black;
}


#container-2 p{
    margin: 0.5rem 0 0.5rem 0;
}

.formas-contacto{
    background: #f7f7f7;
    width: 60%;
    min-height: 10rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 4rem auto 0 auto;
    box-shadow: 2px 2px 2px rgb(165, 165, 165);
}

.contacto-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    i{
        font-size: 2rem;
        background: transparent;
        color: rgb(131, 190, 190);
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 3rem 1rem 3rem;
    text-wrap: nowrap;
}

.contacto:hover{
    transform: scale(1.05);
}





#container-3 span{
    color: rgb(27, 83, 156);
}

#container-3 img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
}

#container-3 img:hover{
    border-color: aquamarine;
}

#container-3 button{
    display: block;
    width: 100%;
    max-width: 7rem;
    background: rgb(131, 190, 190);
    border-radius: 10px;
    margin: 1rem auto;
    height: 100%;
    padding: 0.5rem 0;
    max-height: 5rem;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container-3 button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#container-3 a{
    color:#126d70;
    text-decoration: underline;
    line-height: 2rem;
    margin: 0 0.8rem 0 0.8rem;
}

#container-3 a:hover {
    color: rgb(79, 106, 158);
}


#container-3 p{
    margin: 0.5rem 0 0.5rem 0;
}


.servicesvig{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.servicevig{
    width: 100%;
    max-width: 30rem;
    min-height: 15rem;
    margin: 1rem 1rem;
    background: #ecfffe;
    border: 1px solid #ccc;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.servicevig:hover{
    transform: scale(1.05);
    background-color: rgb(73, 168, 164);
    border: 2px solid #8f8f8f;
    cursor: pointer;
}

.descripcion{
    color: #686868;
}

.col2{
    background: #ecfffe;
}

#busqueda{
    display: block;
    width: 100%;
    max-width: 40rem;
    height: 3rem;
    max-height: 5rem;
    margin: 1rem auto;
    border: 2px solid #ccc;
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(24, 24, 24);
    font-size: large;
}

.search-bar{
    width: calc(100% + 4rem);
    margin: 2rem -2rem;
    padding: 1rem;
    background: #effffd;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.search-bar p{
    text-align: center;
    margin: 0;
}

.search-bar button {
    padding: 0.7rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}




select {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}



    
.formulario-servicio {
    margin-top: 1rem;
    padding: 1rem;
    background: rgb(117, 223, 214);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.oculto {
    display: none;
}

.formulario-servicio input,
.formulario-servicio textarea {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario-servicio textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 4rem;
    max-height: 10rem;
}

.formulario-servicio button {
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

input[type="date"],
input[type="time"] {
    width: 100%;
}


.available {
    color: rgb(0, 122, 0);
}
.unavailable {
    color: rgb(255, 0, 0);
}

.pdf-container{
    max-width: 15rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}

.pdf{
    display: block;
    max-width: 20rem;
    max-height: 3rem;
    background: rgb(131, 190, 190);
    border: 1px solid #ccc;
    border-radius: 2px;
    color: rgb(24, 24, 24);
    padding: 1rem;
    text-wrap: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.pdf:hover{
    background-color: rgb(128, 255, 213);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
}


.text{
    text-align: justify;
    span{
        background-color: #2f4f4f;
        border: 1px solid rgb(255, 255, 255);
        padding: 0.2rem;
    }
}



.title{
    font-size: 1.2rem;
    padding: 0 0 0.5rem 0;
    font-style: italic;
}

.title-2{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0 1rem 0;
}

.title-3{
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

.p-center{
    font-style: italic;
    text-align: center;
}

.image-section{
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.image-section-2{
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(31, 51, 53);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.line{
    width: calc(100% + 4rem);
    border: 1px solid #ccc;
    margin: 1rem -2rem;
}

footer{
    background: rgb(12, 77, 97);
    padding: 2rem;
    text-align: left;
    line-height: 2rem;
    color: #ccc;
}

footer ul{
    list-style: none;
    color: white;
}

@media (max-width: 600px) {

    header{
        display: flex;
        flex-direction: column;
    }

    header h3 {
        font-size: 2rem;
        margin: 1rem auto;
    }

    header p{
        text-align: center;
        text-wrap: nowrap;
        margin: 0 auto;
    }

        nav {
        justify-content: space-between;
    }

    #busqueda{
    max-width: 20rem;
    }

    .contacto-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        i{
            font-size: 2rem;
            background-color: #ecfffe;
            color: rgb(131, 190, 190);
        }
    }

    .contacto{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 3rem 1rem 3rem;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .contacto:hover{
        transform: scale(1.05);
    }
}
