* {
    margin: 0px;
    padding: 0px;
    transition: 0.5s;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem;
    background: linear-gradient(135deg, #39c299, #10474b);
    min-height: 40rem;
    }

h1 {
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

#solicitudes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

nav{
    width: calc(100% + 4rem);
    margin: -2rem -2rem 0 -2rem;
    background-color: #0b4244;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav p{
    color: aliceblue;
    margin: 1rem;
    font-size: 1.2rem;
}

nav button {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 1rem;
}

.nav-botones{
    display: flex;
    flex-direction: row;
}

#eliminarTodo{
    background: #e74c3c;
    color: white;
}

#eliminarTodo:hover{
    background: #c21e0c;
}

#logout{
    background: #e74c3c;
    color: white;
}

#logout:hover{
    background: #c21e0c;
}
        
.label {
    font-weight: bold;
}

span{
    color: #0b4244;
}

.line{
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    border-style: dashed;
}

.solicitud-box{
    border: 2px solid rgb(155, 219, 221);
    background: rgb(188, 226, 226);
    width: 25rem;
    min-height: 18rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 1rem auto;
    padding: 1rem;
    transition: 0.3s;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.servicio-title{
    width: 100%;
}

.servicio{
    background: #0b4244;
    margin: -3rem -1rem 1rem -1rem;
    padding: 1rem;
    color: #ccc;
    font-weight: bold;
    font-size: 1.5rem;
}

.solicitud-box:hover{
    transform: scale(1.05);
}

.oculto{
    display: none;
}

@media (max-width: 600px){

    body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70rem;
    }

    #solicitudes-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .solicitud-box{
        width: 90%;
    }
}